.profile-container header{
    background-color: #7E7E79;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin: 0;
    width: 100vw;
    
}
.profile-container header span{
    margin: 0;
    color: #202020;
    font-size: 18pt;
}
.profile-container header img {
    max-width: 4vw;
}
.profile-container header div .button-network{
    margin: 3px;
    width: auto;
    height: auto;
    background-color: #ffbf00 ;
    border: 0;
    border-radius: 8px; 
    color: #2B2B29;
    font-weight: bold;
    text-align: center;
    font-size: 18pt;
    transition: filter .2s;
    text-decoration: none;
    padding: 3px;
    align-items: center;
}
.profile-container header div .button-network:hover {
    filter: brightness(70%);
}
.profile-container form input {
    width: 100vw;
    margin: auto;
}
.profile-container ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
}
.profile-container ul li{
    background-color: #DEDEDC ;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    width: 300px;
}
.profile-container ul li strong{
    font-size: 15pt;
}
.profile-container ul li button {
    border: none;
    background-color: #DEDEDC;
    margin-left: 270px;
}
.profile-container ul li button:hover {
    opacity: 0.7;
}







