.register-contact {
    width: 100vw;
    border-radius: 8px;
    background-color: #54B9D7;
    display: flex;
    margin: auto;
    height: 100vh;
}
.register-contact .content {
    width: 900px;
    margin:  auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    background-color: #7E7E79;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}
.register-contact  section {
    padding: 10px;
    margin: auto;
}
.register-contact  form {
    max-width: 400px; 
    padding: 10px;
    margin: auto;
}
.register-contact section h1 {
    margin: 10px;
    color: #202020;
    font-size: 50px;
}
.register-contact section p {
    margin: 10px;
    color: #202020;
    font-size: 30px;
    
}
.register-contact  form a { 
    color: #202020;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
